@import 'tailwindcss';

@theme {
  --font-satoshi: 'Satoshi', Impact, sans-serif;


  --color-primary: #0B1623;
  --color-secondary: #F5F5F5;
  --color-secondary-light: #C6C8CB;
  --color-input: #d9d9d9;
  --color-footer: #16212E;
  --color-orange-accent: #BE4D25;
  --color-green-accent: #00AD26;
  --color-purple-accent: #BE2596;
  --color-cream-accent: #CEC67B;
  --color-yellow-accent: #FCC219;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility animation-scroller {
  animation-name: scrollLtoR;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scrollLtoR {
  0% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-20%);
  }
  
  100% {
    transform: translateX(3%);
  }
}